<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>funiWisdomHouseCloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F43ED8A91C2BD59800AB0F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43ED8BD1C2BD59900AB0F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43ED8C81C2BD59900AB0F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
